$brand-primary: #a31f34;
$brand-white: #fff;

$font-size-small: 16px;
$font-size-medium: 22px;
$font-size-large: 30px;
$font-size-x-large: 40px;

$spacing-small: 20px;
$spacing-medium: 40px;
$spacing-large: 60px;